
# Ignorar entorno virtual y archivos temporales
.venv/
venv/
__pycache__/
*.pyc
db.sqlite3
*.log
.DS_Store

# Ignorar carpeta media excepto las vistas
/media/*
!/media/lineas/
/media/lineas/*
!/media/lineas/**
!media/lineas/*
!media/lineas/**/*
